* {
    /* font-family: "Next Art", sans-serif; */
    /* margin: 0 auto; */
}

html {
    scroll-behavior: smooth
}

.wrapper {
    font-weight: 300;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    font-family: 'Nunito Sans', sans-serif;
    max-width: 1210px;
    margin: 0 auto;
}

@media screen and (max-width: 1390px) {
    .container {
        max-width: 390px;
        padding: 0 16px;
    }
}

.button {
    padding: 16px 36px;
    border-radius: 4px;
    border: 1px solid #1A3E3E;
    background-color: #1A3E3E;
    color: #FDFDFD;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2%;
    z-index: 99;
    max-width: max-content;
}


.button:active {
    background-color: rgb(255, 255, 255);
    color: #1A3E3E;
}

@media screen and (max-width: 1390px) {
    .button {
        margin: 0 auto;
        padding: 12px 24px;
    }
}

input {
    font-weight: 700;
}

.text__yellow {
    color: #F2BE22;
}

.first__title {
    color: #F2BE22;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
}

@media screen and (max-width: 1390px) {
    .first__title {
        font-size: 16px;

    }
}

.second__title {
    color: #18121E;
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
}

@media screen and (max-width: 1390px) {
    .second__title {
        font-size: 24px;
    }
}

.third__title {
    color: #18121E;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    /* 111.111% */
    letter-spacing: 0.216px;
}


h5 {
    color: #FDFDFD;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

@media screen and (max-width: 1390px) {
    h5 {
        font-size: 18px;
    }
}

h6 {
    color: #18121E;
    font-family: "Nunito Sans" sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

@media screen and (max-width: 1390px) {
    h5 {
        font-size: 20px;
    }
}

/* HEADER ========================================================== */

.header {
    background: url('../Images/Background_header_small.jpg') 100% 100% / cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (max-width: 1390px) {
    .header {
        background-position-x: 40%;
    }
}

@media screen and (max-width: 1390px) {
    .header__logo img {
        width: 84px;
        height: 44px;
    }
}


@media screen and (max-width: 1390px) {
    .header {
        font-size: 20px;
        padding: 20px 0;
        /* padding: 0px 16px 29px 50px; */
    }
}

.header__top {
    margin-top: 16px;
}

@media screen and (max-width: 1390px) {
    .header__top {
        margin-top: 20px;
    }
}

.header__top-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
    position: relative;
}

@media screen and (max-width: 1390px) {
    .header__top-inner {
        justify-content: space-between;
    }
}

.header__nav {
    margin-left: auto;
}

.open {}

.header__nav-list {
    display: flex;
    color: #FDFDFD;
    white-space: nowrap;
}

@media screen and (max-width: 1390px) {
    .header__nav-list {
        width: 258px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        position: absolute;
        width: 290px;
        height: 400px;
        font-size: 14px;
        background: rgba(26, 62, 62, 0.9);
        padding: 50px 16px;
        right: -22px;
        top: -440px;
        transition: all 0.3s ease-in-out;
    }

    .header__nav.open .header__nav-list{
        top: -40px;
        transition: 0.5s;
    }
}

.header__nav-item {
    margin-left: 24px;
}

@media screen and (max-width: 1390px) {
    .header__nav-item:hover {
        color: #F2BE22;
        transition: 0.2s;
    }
}

.header__nav-item:first-child {
    margin-left: 0;
}

@media screen and (max-width: 1390px) {
    .header__nav-item:first-child {
        margin-left: 24px;
    }
}

.header__user-nav {
    margin-left: 49px;
}

@media screen and (max-width: 1390px) {
    .header__user-nav {
        display: none;
    }
}


.button--small {
    padding: 12px 24px;
}

.header__body {
    margin-bottom: 82px;
}

.burger__menu-icon {
    display: none;

    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    /* background-color: rgba(242, 190, 34, 0.1); */
}

@media screen and (max-width: 1390px) {

    .burger__menu-icon {
        display: block;
    }
}

.burger__menu-icon span {
    position: absolute;
    height: 4px;
    width: 22px;
    background: #f0f0f0;
    border-radius: 50px;
    z-index: 99;
    right: 4px;
    top: 13px;
    transition: transform .5s, opacity .5s;
}

.burger__menu-icon span:nth-child(1) {
    transform: translateY(-10px);
}

.burger__menu-icon span:nth-child(3) {
    transform: translateY(10px);
    width: 11px;
}

.header__nav.open .burger__menu-icon span:nth-child(1) {
    transform: translateY(0px) rotate(-45deg);
}

.header__nav.open .burger__menu-icon span:nth-child(2) {
    opacity: 0;
}

.header__nav.open .burger__menu-icon span:nth-child(3) {
    transform: translateY(0px) rotate(45deg);
    width: 22px;
}

@media screen and (max-width: 1390px) {
    .header__body {
        margin-bottom: 50px;
    }
}

.header__body-title {
    font-family: "Next Art";
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fdfdfd;
}

@media screen and (max-width: 1390px) {
    .header__body-title {
        font-size: 28px;
        line-height: 42px;
    }
}

.search__form {
    max-width: 1180px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.20);
    padding: 40px 42px 43px;
    /* font-family: 'Nunito Sans'; */
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.012em;
}

@media screen and (max-width: 1390px) {
    .search__form {
        background-color: transparent;
        padding: 32px 0px 0px 0px;
    }
}

.search__form-custom_select {
    border-spacing: 0px;
}


.search__form-input {
    width: 270px;
    height: 52px;
    padding: 14px 44px 14px 16px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    margin-right: 24px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 1390px) {
    .search__form-input {
        display: none;
    }
}

.button--search_form {
    max-height: 52px;
    padding: 16px 36px;
    background-color: #fff;
    color: #1A3E3E;
    font-family: 'Nunito Sans';
    font-weight: 700;
}

.search__form-input_description {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1.2%;
    text-align: left;
    color: #fdfdfd;
    margin-top: 8px;
    margin-left: 8px;
}

@media screen and (max-width: 1390px) {
    .search__form-input_description {
        display: none;
    }
}

/* options______ */

.arrow {
    border: 1px solid #fdfdfd;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(45deg);
    position: absolute;
    right: 16px;
}

.arrow-invert {
    transform: rotate(225deg);
    top: 26px;
}

.custom-select {
    position: relative;
    user-select: none;
    margin-right: 24px;
}

@media screen and (max-width: 1390px) {
    .custom-select {
        display: none;
    }
}

.select-selected {
    width: 270px;
    padding: 14px 44px 14px 16px;
    border: 1px solid #FDFDFD;
    border-radius: 8px;
    color: #FDFDFD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.select-items {
    position: absolute;
    margin-top: 12px;
    background-color: #fdfdfd;
    width: 270px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 8px;
    overflow: hidden;

}

.select-hide {
    display: none;
}

.select-items li {
    font-weight: 400;
    padding: 14px 44px 14px 16px;
    cursor: pointer;
}

.select-items li {
    font-weight: 400;
    padding: 14px 44px 14px 16px;
    cursor: pointer;
}

.select-items li:hover {
    background-color: #f0f0f0;
    overflow: hidden;
}


/* ABOUT ========================================================== */

.about__inner {
    display: flex;
    align-items: center;
    gap: 120px;
    padding: 100px 0px;
}

@media screen and (max-width: 1390px) {
    .about__inner {
        padding: 50px 0px;
        flex-direction: column-reverse;
        gap: 24px;
    }
}

.about__img_box {
    width: 480px;
    height: 526px;
    position: relative;
}

.about__img {
    width: 350px;
    height: 400px;
    border-radius: 24px;
}

@media screen and (max-width: 1390px) {
    .about__img_box {
        margin-top: 16px;

        width: auto;
        height: auto;
    }
}


.about__img--top {
    background-image: url(../Images/mountain_1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 1390px) {
    .about__img--top {
        display: none;
    }
}

.about__img--bottom {
    background-image: url(../Images/mountain_2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    bottom: 0px;
    right: 10px;
    top: 123px;
    left: 126px;
}

@media screen and (max-width: 1390px) {
    .about__img--bottom {
        position: static;
    }
}


.about__text {
    max-width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

@media screen and (max-width: 1390px) {
    .about__text {
        gap: 24px;
    }
}

.text__content {
    color: #18121E;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

@media screen and (max-width: 1390px) {
    .text__content {
        font-size: 16px;
    }
}


/* OFFER ========================================================== */

.block_gray {
    background-color: rgba(243, 245, 244, 1);
    padding: 80px;
}

@media screen and (max-width: 1390px) {
    .block_gray {
        padding: 0px;
    }
}

.offer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
}

@media screen and (max-width: 1390px) {
    .offer__inner {
        padding: 50px 0;

    }
}

.offer__text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 580px;
}

@media screen and (max-width: 1390px) {
    .offer__text {
        gap: 32px;
    }
}

.text__content_features {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.offer__features {
    display: flex;
    align-items: center;
}

.offer__features_box {
    margin-left: 23px;
}

.icon {
    content: "";
    display: inline-block;
    padding: 36px;
    width: 36px;
    height: 36px;
    background-size: cover;
}

.icon_1 {
    background-image: url(../Images/Icons/Frame1.svg);
}

.icon_2 {
    background-image: url(../Images/Icons/Frame2.svg);
}

.icon_3 {
    background-image: url(../Images/Icons/Frame3.svg);
}


.offer__img_box {
    max-width: 510px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (max-width: 1390px) {
    .offer__img_box {
        display: none;
    }
}

.offer__img {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
}

.offer__img:nth-child(1) {
    border-radius: 0px 50px;
}

.offer__img:nth-child(4) {
    border-radius: 0px 50px;
}

.offer__img:nth-child(2) {
    border-radius: 50px 0px;
}

.offer__img:nth-child(3) {
    border-radius: 50px 0px;
}

.offer__img:nth-child(1) {
    background-image: url(../Images/offer\ \(01\).jpg);
}

.offer__img:nth-child(2) {
    background-image: url(../Images/offer\ \(02\).jpg);
}

.offer__img:nth-child(3) {
    background-image: url(../Images/offer\ \(03\).jpg);
}

.offer__img:nth-child(4) {
    background-image: url(../Images/offer\ \(04\).jpg);
}

/* POPULAR ========================================================== */


.popular__inner {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

@media screen and (max-width: 1390px) {
    .popular__inner {
        padding: 50px 0;
        align-items: flex-start;
    }
}

.popular__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1390px) {
    .popular__top {
        align-items: flex-start;
    }
}

.popular__img_box {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.popular__img {
    width: 380px;
    height: 500px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 32px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

@media screen and (max-width: 1390px) {
    .popular__img {
        width: 285px;
        height: 400px;
    }
}

.popular__img:nth-child(1) {
    background-image: url(../Images/popular_directions1.jpg);
}

.popular__img:nth-child(2) {
    background-image: url(../Images/popular_directions2.jpg);
}

.popular__img:nth-child(3) {
    background-image: url(../Images/popular_directions3.jpg);
}

.popular__img-open:nth-child(1) {
    background-image: url(../Images/popular_directions1.jpg);
}

.popular__img-open:nth-child(2) {
    background-image: url(../Images/popular_directions2.jpg);
}

.popular__img-open:nth-child(3) {
    background-image: url(../Images/popular_directions3.jpg);
}

.popular__img_rate {
    position: absolute;
    top: 50px;
    right: 0px;
    padding: 4px 8px;
    border-radius: 4px 0px 0px 4px;
    background: rgba(253, 253, 253, 0.40);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;

    color: #1A3E3E;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.popular__img_rate-close {
    display: none;
    /* удаляем рейтинг при открытом описании */
}

.popular__img_rate::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../Images/Icons/ic_round-star.svg);
    background-size: cover;
    margin-right: 4px;
}

.popular__img_description-box {
    width: 100%;
    height: 100%;
    padding: 20px 32px 23px;
    border-radius: 0px 0px 32px 32px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 32px 20px;
    color: #FDFDFD;
    transition: 3s ease-in;
    position: absolute;
}

@media screen and (max-width: 1390px) {
    .popular__img_description-box {
        padding: 23px 24px 20px;
    }
}


.description_box-open {
    transition: 0.4s;
    top: 83%;
}

.popular__img_description-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

@media screen and (max-width: 1390px) {
    .popular__img_description-header {
        font-size: 18px;
        gap: 24px;
    }
}

.popular__img_description-titles {
    color: rgba(253, 253, 253, 0.9);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

@media screen and (max-width: 1390px) {
    .popular__img_description-title {
        font-size: 18px;

    }
}

.popular__img_description-price {
    padding: 8px 16px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.30);
    font-size: 20px;
    font-weight: 700;
}


@media screen and (max-width: 1390px) {
    .popular__img_description-price {
        padding: 6px 12px;
        font-size: 16px;
        white-space: nowrap;
    }
}

@media screen and (max-width: 1390px) {
    .popular__img_description-subtitle {
        display: none;
    }
}

@media screen and (max-width: 1390px) {
    .popular__img_description-text {
        font-size: 14px;
        margin-top: 32px;
    }
}

.popular__img_description-body {
    line-height: 150%;
}

/* BLOG ========================================================== */

.blog__inner {
    /* padding: 80px 370px 100px; */
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

@media screen and (max-width: 1390px) {
    .blog__inner {
        padding: 50px 0;
        align-items: flex-start;

    }
}


.blog__top {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

@media screen and (max-width: 1390px) {
    .blog__top {
        align-items: flex-start;
    }
}

.blog__body {
    display: flex;
    max-width: 1180px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 1390px) {
    .blog__body {
        flex-wrap: nowrap;
        gap: 24px;
    }
}

.blog__item {
    display: flex;
    width: 580px;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 10px;
    background: #FDFDFD;
}

@media screen and (max-width: 1390px) {
    .blog__item {
        flex-direction: column;
        width: 285px;
        padding: 0;
    }
}

.blog__item .blog__item_image {
    width: 230px;
    height: 280px;
    border-radius: 6px 6px 0px 0px;
}

@media screen and (max-width: 1390px) {
    .blog__item .blog__item_image {
        width: 100%;
    }
}

.blog__item:nth-child(1) .blog__item_image {
    background: url(../Images/travel_blog1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.blog__item:nth-child(2) .blog__item_image {
    background: url(../Images/travel_blog2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.blog__item:nth-child(3) .blog__item_image {
    background: url(../Images/travel_blog3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.blog__item:nth-child(4) .blog__item_image {
    background: url(../Images/travel_blog4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.blog__item_content {
    display: flex;
    padding: 16px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    flex: 1 1 0;
    align-self: stretch;
}

@media screen and (max-width: 1390px) {
    .blog__item_content {
        padding: 0 16px 16px;
        gap: 16px;
        flex: 2 2 100%;
    }
}


.blog__item_body {
    flex: 1 0 0;
    align-self: stretch;
    overflow: hidden;
    color: #18121E;
    text-overflow: ellipsis;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (max-width: 1390px) {
    .blog__item_title {
        font-size: 20px;
    }
}

.blog_item_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    font-size: 14px;
}


/* REPORT ========================================================== */

.report__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-top: 80px;
}

@media screen and (max-width: 1390px) {
    .report__inner {
        padding: 50px 0;
        align-items: flex-start;
        gap: 32px;
    }
}

.report__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

@media screen and (max-width: 1390px) {
    .report__top {
        align-items: flex-start;
    }
}

.report__body {
    width: 1180px;
    height: 520px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 20px;
}

@media screen and (max-width: 1390px) {
    .report__body {
        flex-wrap: nowrap;
        height: auto;
    }
}


.report__image {
    width: 280px;
    flex-shrink: 0;
    background: no-repeat center/cover
}

@media screen and (max-width: 1390px) {
    .report__image {
        width: 280px;
        height: 250px;
    }
}

.report__image_big {
    width: 580px;
}

@media screen and (max-width: 1390px) {
    .report__image_big {
        width: 280px;
        height: 250px;
    }
}

.report__image:nth-child(1) {
    background-image: url(../Images/impressions1.jpg);
}

.report__image:nth-child(2) {
    background-image: url(../Images/impressions2.jpg);
}

.report__image:nth-child(3) {
    background-image: url(../Images/impressions3.jpg);
}

.report__image:nth-child(4) {
    background-image: url(../Images/impressions4.jpg);
}

.report__image:nth-child(5) {
    background-image: url(../Images/impressions5.jpg);
}

.report__image:nth-child(6) {
    background-image: url(../Images/impressions6.jpg);
}

.subscribe__top {
    position: relative;
    margin: 0 auto;
    bottom: -178px;
    width: 1180px;
    border-radius: 6px;
    background: #FDFDFD;
    box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
    display: flex;
    padding: 40px 100px;
    gap: 64px;
    margin-bottom: 80px;
}

@media screen and (max-width: 1390px) {
    .subscribe__top {
        position: static;
        width: 358px;
        flex-direction: column;
        padding: 24px;
        gap: 18px;
    }
}

.subscribe__top_title .first__title {
    font-size: 18px;
}

@media screen and (max-width: 1390px) {
    .subscribe__top_title .first__title {
        width: 310px;
    }
}

.subscribe__top_title .second__title {
    font-family: Nunito Sans;

    font-size: 26px;
    width: 380px;
}

@media screen and (max-width: 1390px) {
    .subscribe__top_title .second__title {
        width: 310px;
        font-size: 24px;
    }
}

.subscribe__top_form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subscribe__top_form .button {
    font-family: Nunito Sans;
}

@media screen and (max-width: 1390px) {
    .subscribe__top_form .button {
        margin: 0;
        font-family: Nunito Sans;
    }
}


.subscribe__top_form-items .button {
    padding: 12px 24px;
}

.subscribe__top_form-description {
    color: #18121E;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.subscribe__top_form-description:last-child {
    font-size: 14px;
}

.subscribe__top_form-description a {
    text-decoration: underline;
}


.subscribe__top_form-items {
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 1390px) {
    .subscribe__top_form-items {
        flex-direction: column;
        align-items: flex-start;
    }
}


.subscribe__top_form-input {
    width: 280px;
    height: 44px;
    padding: 0px 16px;
    border-radius: 4px;
    background: #F3F5F4;
    color: #18121E;

    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}


/* FOOTER ========================================================== */

.footer {
    background: #1A3E3E;
}

.footer__inner {
    padding-top: 178px;
    padding-bottom: 80px;
}

@media screen and (max-width: 1390px) {
    .footer__inner {
        padding: 50px 0;
    }
}

.footer__links {
    color: #F3F5F4;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1390px) {
    .footer__links {
        flex-direction: column;
        gap: 50px;
    }
}


.footer__links_info {
    width: 480px;
}

.footer__links_services,
.footer__links_faq {
    width: 280px;
}

.footer__links_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.footer__links_body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__links_item::before {
    content: "";
    display: inline-block;
    width: 5.875px;
    height: 10px;
    margin-right: 8px;
    background: url(../Images/Icons/Group.svg) no-repeat;
    background-size: cover;
    transition: 3s;
}

.footer__links_item:hover {
    color: #F2BE22;
}

.footer__links_item::before:hover {
    color: #F2BE22;
}


.info__text {
    color: #F3F5F4;
    font-size: 14px;
    margin-bottom: 80px;
    width: 456px;
}

.social-media_item {
    margin-right: 16px;
}

.footer__links_contacts {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.footer__bottom {
    max-width: 1920px;
    margin: 0 auto;
    background: #18121E;
}

.footer__botton_links {
    color: #F3F5F4;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    /* 128.571% */
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
}

@media screen and (max-width: 1390px) {
    .footer__botton_links {
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }
}